
.login-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  min-width: 97vw;
  background: linear-gradient(135deg, var(--color-surface) 0%, var(--color-background) 100%);

   @media (min-width: 768px) {
    align-items: center;
  }
}

.login-card {
  background: var(--color-background);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  width: 100%;
  max-width: 400px;
  border: 1px solid var(--color-border);
  padding: 1.5rem;
   

  @media (min-width: 768px) {
    max-width: 70vw;
  }
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h1 {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 1rem;
  background: var(--color-surface);
  
  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
  }
}

.login-btn {
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  
  &:hover:not(:disabled) {
    background: var(--color-primary-hover);
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


  